{% extends "base.html.twig" %}

{% block content %}
<div class="category-index">
  <h1>{{ category }}</h1>
  <p class="category-meta">{{ total_files }} {{ total_files == 1 ? 'file' : 'files' }} in this category</p>

  <div id="category-files" class="file-list" data-per-page="{{ per_page }}">
    {% for file in files %}
    <div class="file-item">
      <h2><a href="{{ file.url }}">{{ file.title }}</a></h2>
      {% if file.metadata.description %}
      <p class="file-description">{{ file.metadata.description }}</p>
      {% endif %}
    </div>
    {% endfor %}
  </div>

  <div id="pagination" class="pagination"></div>
</div>

{% endblock %}

{% block scripts %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{{ site_base_url }}assets/js/category.js"></script>
{% endblock %}
